#GoogleLogo {
  background-size: 272px 92px;
  height: 92px;
  width: 300px;
  margin: 200px auto 50px auto;
}

#country {
  color: #4285f4;
  font-family: Helvetica;
  float: right;
  margin-top: -25px;
}

#searchform {
  height: 120px;
  width: 500px;
  margin: auto;
  text-align: center;
}

#searchbar {
  width: 500px;
  height: 40px;
  border: 1px solid #757575;
  margin-top: 10px;
  display: block;
}

.l_button,.r_button {
  height: 36px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #757575;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 10pt;
  margin-top: 20px;
}

.l_button {
    width: 126px;
}
.l_button:hover {
  color: #000;
  border: 1px solid #757575;
}
.r_button {
  width: 144px;
}
.r_button:hover {
  color: #000;
  border: 1px solid #757575;
}

.bottomline {
  text-align: center;
  font-family: Helvetica;
  font-weight: 300;
  font-size: small;
}

a {
    text-decoration: none;
}
